html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    max-width:1000px ;
    margin: auto;
    /* font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */
}
.row{
    width: 100%;
}
.row::after{
    clear: both;
    content: "";
    display: block;
}
[class*="col-"]{
    float: left;
    padding: 15px;
}

[class*="col-"]{
    width: 100%;
}
/* header start */
header{
    background-color: peru;
    padding: 0% 1%;
    text-align: center;

}

.logo{
    
    width: 120px;
    height: 120px;
   text-align: center;
    color: blue;
    border-radius: 50%;
    border: 2px solid yellow;
    background-color: aqua;
    font-size:5rem;
    border-top-width: 20px;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    line-height: 70px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    transition: .4s;

}
nav ul li{
    display: block;
}
nav ul li a:hover{
    border-radius: 10px;
    background-color: darkgreen;
}


/* header end */
/* baner start */
#banner{
    background-image: url("images/chris-liverani-oCsaxvGCehM-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-contents{
    padding: 50px 10px;
    text-align: center;
}
.banner-contents h1{
    width: 100%;
    margin: 50px auto;
    font-size: 3rem;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Handlee', cursive;
    display:inline-block;
}
.banner-contents p{
    width: 300px;
    margin: 15px auto;
    background-color: darkgreen;
    color: whitesmoke;
    padding: 10px;
    font-size: 1.5rem;
}
.btn{
    width: 160px;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    text-transform: uppercase;
    transition: .4s;

}
.btn:hover{
    transform: scale(1.2);
}


/* baner end */
/* about start */
#about-us{
    padding: 1%;
    
}
.about-us-contents h3{
font-size: 2rem;
margin-bottom: 10px;
font-weight: 10px;
color: blue;
}
.about-us-contents p{
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 10px;
    
    }
    .about-us-contents {
        text-align: center;
        background-color: bisque;
    }
    #food-menu{
        padding: 1%;
    }
    .card-body{
        text-align: center;
    }
   .card-body img{
    height: 250px;
    width: 100%;
    display: block;
   }
   .item-name{
    text-align: center;
    background-color: green;
    color: white;
    padding: 10px;

   }
   .item-desc p{
    text-align: center;
    font-size: 1.0rem;
    padding: 10px;
    font-weight: bold;
   }
   .card{
    transition: 0.4s;

   }
   .card:hover{
    transform: scale(1.5);
    display: block;
   }
.card::after{
    content: "";
    clear: both;
    display: block;
}
/* about start */
/* contact start */
#contact{
    padding: 1%;
    background-color: orange;
}
.contact-details{
    color: aliceblue;
    text-align: center;
    padding: 20px 0;


}
.map{
    width: 100%;
    height: 250px;
}
.contact-details p, address{
    font-size: 1rem;
}

/* contact end */
/* footer start */
footer{
    padding: 1%;
    color:black;
    background-color: yellow;
}
footer p{
    line-height: 32px;
    font-size: 0.8rem;
    text-align: center;
}
.social-menu{
    text-align: center;
}
.icon-style{
    color:red;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 10px;
    transition: 0.4s;
}
.icon-style:hover{
    background-color: blue;
    transform: scale(1.2);
}



/* footer end */



@media (min-width: 576px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
    
}
@media (min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
    
}
@media (min-width: 992px) {
    .logo-div{
        text-align: left;

    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        display: inline-block;

    }
    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
        text-decoration: dotted;
        border-radius: 0;
       
    }
    /* banner start */
    .banner-contents h1{
        display:block;
    }





    /* banner end */
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
    
}